---
title: "[Updated] Decoding the Route to Achieving Facebook Verification"
date: 2024-08-24T08:52:57.376Z
updated: 2024-08-25T08:52:57.376Z
tags:
  - ai video
  - ai facebook
  - ai facebook video
categories:
  - ai
  - facebook
description: "This Article Describes [Updated] Decoding the Route to Achieving Facebook Verification"
excerpt: "This Article Describes [Updated] Decoding the Route to Achieving Facebook Verification"
keywords: "Social Media Verified Status,Obtaining FB Verification Badge,Secure Facebook Identity,Acquiring FB Certificate,Unlocking FB Verification Code,Gain FB Authentication Mark,Achieving FB Account Confirmation"
thumbnail: https://thmb.techidaily.com/ced9cab3bb4f4b670e0a461fa0277071d0fe6cc512c46ece52a065d147ecc37a.jpg
---

## Decoding the Route to Achieving Facebook Verification

# Facebook Verification: how to Verify Facebook Page Easily

![author avatar](https://images.wondershare.com/filmora/article-images/shannon-cox.jpg)

##### Shanoon Cox

 Mar 27, 2024• Proven solutions

Do you wish to create strong credibility for your brand online? From local businesses to huge brands, all can establish their credibility by getting verified on the Facebook platform. If you want your prospective clients to find you easily, appearing high on search results can work wonders.

But, how can you appear high on search results? Here comes the **Facebook verification**. Attaining the verified blue or grey badge can [prove your business to be trustworthy](https://visualcontenting.com/2016/11/29/difference-blue-gray-facebook-badges-theyre-important-business/) and show your page higher on the search results. Do you know how to get the blue and gray verified badge easily for your profile or page? Check out this article to know how to verify the Facebook page.

You may also like: [**12 Facebook Marketing Tips**](https://tools.techidaily.com/wondershare/filmora/download/) \>>

* [**Part 1: What is the Blue Verification Badge**](#part1)
* [**Part 2: How to Verify Facebook Page (Blue Badge)**](#part2)
* [**Part 3: How to Get Your Facebook Page Verified (Gray Badge)**](#part3)
* [**Part 4: Why Facebook Didn’t Give Verification to Me**](#part4)
* [**Part 5: 3 Tips to Get Facebook Verification**](#part5)

---

## Best video editor for Facebook - Filmora

Video plays an important part on Facebook if you want to get more likes and engagement. Don't know which video editor to use? Here we recommend using [Filmora](https://tools.techidaily.com/wondershare/filmora/download/). It is designed for beginners who want to edit Facebook videos easily. You can use it to make a high-quality video that can help you get Facebook verification quickly. Download it now to start making Facebook videos (free)! [Filmora Business](https://tools.techidaily.com/wondershare/filmora/download/) is also available to help you quickly make Facebook videos. You can use it to make an amazing product or brand video with a growing resource library.

* You can use it to change the aspect ratio for Facebook: 1:1, 16:9 and more
* Add various text/title templates to your video
* More than 300 filters/effects/overlays to use
* Export to Facebook video format directly

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

---

## Part 1: What is the Blue Verification Badge

The blue verification badge is a seal of your identity. It proves that your pages have a real identity and not fake. Facebook has [three kinds of verification](https://www.facebook.com/help/196050490547892?helpref=popular%5Ftopics) – grey tick pages, blue tick pages, and blue tick profiles.

**The grey tick Facebook pages** represent various organizations and companies that have been verified by Facebook and confirm their real identity.

**The blue tick Facebook pages and Facebook profiles** confirm the identity of the public figures, media, and brands as per their claim. The badge confirms their official pages.

Confirming your Facebook identity verification is important because [it’s a quick sign that your business, brand, or profile is doing well](https://www.weboptimizers.com.au/blue-tick-verification/) and deserve to earn a verifying sign. When your customers or any users check a verified sign on your page, they know that the page they are looking at is not fake. The page is not created by any fraud or fan and it is the real profile or page of a person or company. When the clients seek customer service, the verified Facebook pages show that the company is serious about its client relationship and social media marketing. It also helps your page to rank higher on Google search as well as Facebook search.

**Are you eligible**? [Facebook verification is not allowed for all](https://www.facebook.com/help/1288173394636262). As per the Support Team of Facebook, the verified badge is only available for famous businesses or brands, journalists, media, celebrities, Government officials, sports companies, and people related to the entertainment world. Are you under any of these categories? Then, follow the [Facebook terms of service](https://www.facebook.com/terms) you get a higher chance of being verified quickly.

## Part 2: How to Verify Facebook Page (Blue Badge)

If you want to apply the blue badge for an individual, you need to offer a government-issued photo ID. If you a business owner and want to do Facebook verification for your brand, you can offer utility bills and tax documents. In the end, you need to express your idea to let Facebook know why you want Facebook verification. Once, [all the required information about your business is filled in](https://www.facebook.com/help/contact/342509036134712), you are ready for applying the blue badge. Follow the four steps below to get your brand or profile verified.

<!-- affiliate ads begin -->
<a href="https://appsumo.8odi.net/c/5597632/2082541/7443" target="_top" id="2082541"><img src="//a.impactradius-go.com/display-ad/7443-2082541" border="0" alt="" width="1200" height="600"/></a><img height="0" width="0" src="https://appsumo.8odi.net/i/5597632/2082541/7443" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
### Step 1: Click page verification option

You can find a setting option on the Facebook page at the top. The Page Verification seal is then clicked from the General tab. Get started by clicking on the Verify this Page option.

![Fcebook page verifiation](https://images.wondershare.com/filmora/article-images/page-verifiation-facebook.JPG)

<!-- affiliate ads begin -->
<a href="https://estore.winxdvd.com/order/checkout.php?PRODS=4081991&QTY=1&AFFILIATE=108875&CART=1"><img src="https://www.winxdvd.com/affiliate/new-banner/wt-500x500.jpg" border="0"></a>
<!-- affiliate ads end -->
### Step 2: Get verification code

For a more detailed and quick verification process, you can ask the Facebook team to call you up at the registered number listed on your business Facebook page. A verification code enters the number listed and you just need to input it at the box space. Finally, Facebook offers with the verified seal after the process.

**Note**: It won't take much longer time to receive the verification code. In case you haven't receive the verification code after 24 hours, you can try sending **On** or **Fb** to 32665.

<!-- affiliate ads begin -->
<a href="https://store.absolute.com/order/checkout.php?PRODS=4601998&QTY=1&AFFILIATE=108875&CART=1"><img src="https://secure.avangate.com/images/merchant/ef70e26a0b5da778eda3f48014d087cd/728x90_larger-shield.jpg" border="0"></a>
<!-- affiliate ads end -->
### Step 3: Upload the official document

When you pick the more detailed verification process, you need to click on the Verify this Page with Documents option. Then, you receive a prompt to upload the official documents that carried the name and address of the business. It helps in recognizing your page or profile. Finally, after receiving the documents verification request, Facebook confirms or denies it within 48 hours to 45 days timeframe.

![facebook verfication](https://images.wondershare.com/filmora/article-images/facebook-verfication.JPG)

## Part 3: How to Get Your Facebook Page Verified (Gray Badge)

It is so much easier to verify a business or company page, but still, there are preconditions to [get the gray badge](https://www.facebook.com/help/100168986860974/). If your business is in Local Business, Company, or Organization, you can apply for the Gray Badge. You can see the verification entrance in your Page’s Settings if you are an admin have the basic info about your company. You must have some of your business's official documents first like phone number and phone bill.

You need to go to Settings on your page. Then click **General** \> **Page Verification** \> **Verify this Page** \> **Get Started**. Here, you can enter your phone number. Click **Call Me Now**. After a while, you will receive the verification code. Now, enter the code and continue the verification process.

![How to Get Your Facebook Page Verified](https://images.wondershare.com/filmora/filmora-business/how-to-verify-facebook-page-gray-badge.jpg)

<!-- affiliate ads begin -->
<a href="https://arkmc.pxf.io/c/5597632/427477/5172" target="_top" id="427477"><img src="//a.impactradius-go.com/display-ad/5172-427477" border="0" alt="" width="728" height="90"/></a><img height="0" width="0" src="https://arkmc.pxf.io/i/5597632/427477/5172" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Part 4: Why Facebook Didn’t Give Verification to Me

Facebook said verification can be accepted or rejected. The grey badge verification request takes around 48 hours and the blue badge verification request needs around 3 to 45 days to receive the Facebook response. In case, your verification request is rejected, it is due to the following reasons.

      * **Press releases or marketing is less** \- When your press is less, it is highly possible that your verification request is rejected as your business or page is not identified accurately. You must learn to get featured on Techcrunch, Forbes, etc. You can also [write a press release to get exposure](https://coschedule.com/blog/how-to-write-press-releases-examples-templates/). You may also hire my digital marketing agency for the same.
      * **Your Wikipedia is missing** \- In order to create a Wiki; you firstly require the high-quality press.
      * **Your identity proof is not up to the mark** \- When your reason for verification request is not very compelling or the ID provided by you is blurry or inappropriate, your request may get rejected.
      * **Missing Facebook Native Content** \- Facebook hates a dead page. So, it is important that your page is filled with relevant and great content for long.
      * **Verification is Strict** \- Facebook only verifies the popular pages and profiles easily if you can establish your popularity. It is very strict on who they verify.

## Part 5: 3 Tips to Get Facebook Verification

<!-- affiliate ads begin -->
<a href="https://thefitville.pxf.io/c/5597632/1526796/15852" target="_top" id="1526796"><img src="//a.impactradius-go.com/display-ad/15852-1526796" border="0" alt="" width="1200" height="628"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1526796/15852" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
### 1\. Provide complete and detailed information

If you want to get verified, you need to fill out as much information as possible in order for the reviewing process is fast. You need to go to your about page to enter some information including phone number, email, company overview, address, and products. It is noted that you don't need to fill out all information as details are much more important.

<!-- affiliate ads begin -->
<a href="https://secure.2checkout.com/order/checkout.php?PRODS=4729642&QTY=1&AFFILIATE=108875&CART=1">Advanced Find and Replace for Google Sheets, Lifetime subscription</a>
<!-- affiliate ads end -->
### 2\. Professional Facebook page is needed

You don't want to give Facebook the impression that you are not professional with wrong info and an ugly page interface. The first thing you need to do is update the banner and then your logo as they are the first two things people would notice at first glance. Besides, you also need to remove low-quality images, poor articles, and posts. All in all, information centered with the brand is the symbol of a professional looking for getting Facebook verification.

![facebook verification blue and gray](https://images.wondershare.com/filmora/filmorapro/great-page-get-facebook-verification.jpg)

<!-- affiliate ads begin -->
<a href="https://tinyland.pxf.io/c/5597632/1793214/19135" target="_top" id="1793214"><img src="//a.impactradius-go.com/display-ad/19135-1793214" border="0" alt="" width="900" height="900"/></a><img height="0" width="0" src="https://imp.pxf.io/i/5597632/1793214/19135" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
### 3\. Update your verification information

When Facebook reviews your account, it takes time to give you the blue badge. You need to provide the latest and detailed information to get a quick review. It is not important if your posts are engaging or how many likes you get. The most important thing is correct. If some info is wrong, the chance you get rejected is higher.

<!-- affiliate ads begin -->
<a href="https://shop.incomedia.eu/order/checkout.php?PRODS=39655089&QTY=1&AFFILIATE=108875&CART=1"><img src="https://incomedia.eu/files/images/affiliates/wa/01_WA_728x90.jpg" border="0"></a>
<!-- affiliate ads end -->
### Conclusion

Facebook blue or grey badge verification is a very important step to ensure your page appears in the top search results of the search engines and strengthen the trust of your clients. Besides, video is also an important factor to attract more likes and followers. If you want to edit Facebook video, try [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) to start the journey! [Filmora](https://tools.techidaily.com/wondershare/filmora/download/) as a solution for quickly making the business video is also available. Check this video to learn more.

[![Download Win Version](https://images.wondershare.com/filmora/guide/download-btn-win.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)[![Download Mac Version](https://images.wondershare.com/filmora/guide/download-btn-mac.jpg)](https://tools.techidaily.com/wondershare/filmora/download/)

![author avatar](https://images.wondershare.com/filmora/article-images/shannon-cox.jpg)

Shanoon Cox

Shanoon Cox is a writer and a lover of all things video.

Follow @Shanoon Cox

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://video-capture.techidaily.com/new-2024-approved-24-techniques-for-recording-virtual-conferences-on-a-dime/"><u>[New] 2024 Approved  24 Techniques for Recording Virtual Conferences on a Dime</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-best-in-class-facebook-media-firefox-edition-for-2024/"><u>[New] Best-in-Class Facebook Media  FireFox Edition for 2024</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-dive-into-digital-friendship-start-your-facebook-journey-for-2024/"><u>[New] Dive Into Digital Friendship  Start Your Facebook Journey for 2024</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-enhancing-outdoor-vision-with-gopro-and-live-streaming-platforms/"><u>[New] Enhancing Outdoor Vision with GoPro and Live Streaming Platforms</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-fb-hd-downloader-how-to-download-hd-facebook-videos/"><u>[New] FB HD Downloader | How to Download HD Facebook Videos?</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-from-click-to-chatter-turning-titles-into-talk-on-fb-for-2024/"><u>[New] From Click to Chatter  Turning Titles Into Talk on FB for 2024</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-how-to-fix-blurry-facebook-videos-on-iphoneandroidchrome-in-2024/"><u>[New] How to Fix Blurry Facebook Videos on iPhone/Android/Chrome, In 2024</u></a></li>
<li><a href="https://fox-blue.techidaily.com/new-in-2024-comprehensive-overview-of-whatsapp-voice-calls/"><u>[New] In 2024, Comprehensive Overview of WhatsApp Voice Calls</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-in-2024-instagram-video-troubleshooting-no-silence-full-sound/"><u>[New] In 2024, Instagram Video Troubleshooting - No Silence, Full Sound</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-in-2024-navigating-facebook-live-broadcasts-a-quick-guide/"><u>[New] In 2024, Navigating Facebook Live Broadcasts  A Quick Guide</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-in-2024-render-your-social-media-footage/"><u>[New] In 2024, Render Your Social Media Footage</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-in-2024-revolutionizing-facebook-advertising-through-creative-insight/"><u>[New] In 2024, Revolutionizing Facebook Advertising Through Creative Insight</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-premium-9-clandestine-content-getters/"><u>[New] Premium 9 Clandestine Content Getters</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-professional-recording-methods-for-your-social-video-sessions-for-2024/"><u>[New] Professional Recording Methods for Your Social Video Sessions for 2024</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-revolutionize-your-social-media-strategy-use-free-video-creation-kit/"><u>[New] Revolutionize Your Social Media Strategy – Use Free Video Creation Kit</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/new-unnoticed-consumers-of-fb-stories/"><u>[New] Unnoticed Consumers of Fb Stories</u></a></li>
<li><a href="https://facebook-video-footage.techidaily.com/updated-2024-approved-current-lighting-infrastructure/"><u>[Updated] 2024 Approved  Current Lighting Infrastructure</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-2024-approved-from-fb-videos-to-mp3-the-easy-transformation-path/"><u>[Updated] 2024 Approved  From Fb Videos to MP3 - The Easy Transformation Path</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-2024-approved-making-fb-video-accessible-on-household-tvs/"><u>[Updated] 2024 Approved  Making Fb Video Accessible on Household TVs</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-2024-approved-maximizing-facebook-fame-8-premier-apps-for-like-boosting/"><u>[Updated] 2024 Approved  Maximizing Facebook Fame  8 Premier Apps for Like Boosting</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-decide-your-videoclip-layout-fbs-dilemma/"><u>[Updated] Decide Your Videoclip Layout  FB’s Dilemma</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-fb-hd-stream-to-local-storage/"><u>[Updated] FB HD Stream to Local Storage</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-how-to-solve-delayed-or-failed-video-sending-in-facebooks-mobile-messaging-service/"><u>[Updated] How to Solve Delayed or Failed Video Sending in Facebook's Mobile Messaging Service</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-in-2024-bridging-the-gap-facebook-to-television-screenplay/"><u>[Updated] In 2024, Bridging the Gap  Facebook to Television Screenplay</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-in-2024-the-ultimate-guide-to-creating-engaging-facebook-stories/"><u>[Updated] In 2024, The Ultimate Guide to Creating Engaging Facebook Stories</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-in-2024-youtubes-buzzing-titles-roundup-1-8/"><u>[Updated] In 2024, YouTube's Buzzing Titles Roundup  #1-#8</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-integrated-story-spread-4-simple-steps-on-fb/"><u>[Updated] Integrated Story Spread  4 Simple Steps on FB</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/updated-strategies-for-clearer-facebook-live-footage-viewing-for-2024/"><u>[Updated] Strategies for Clearer Facebook Live Footage Viewing for 2024</u></a></li>
<li><a href="https://vimeo-videos.techidaily.com/2024-approved-maximizing-efficiency-streamlined-methods-to-download-vimeo-videos/"><u>2024 Approved  Maximizing Efficiency  Streamlined Methods to Download Vimeo Videos</u></a></li>
<li><a href="https://fox-blue.techidaily.com/2024-approved-premier-5-iphones-for-podcast-aficionados/"><u>2024 Approved  Premier 5 iPhones for Podcast Aficionados</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/2024-approved-seamless-integration-of-fb-video-on-tv-screens/"><u>2024 Approved  Seamless Integration of Fb Video on TV Screens</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/2024-approved-swiftly-overcome-video-send-errors-in-facebook-chat-for-iphones-android/"><u>2024 Approved  Swiftly Overcome Video Send Errors in Facebook Chat for iPhones, Android</u></a></li>
<li><a href="https://desktop-recording.techidaily.com/2024-approved-transform-your-farm-life-with-the-best-7-14-upgrades/"><u>2024 Approved  Transform Your Farm Life with the Best #7-14 Upgrades</u></a></li>
<li><a href="https://article-tips.techidaily.com/2024-approved-zooming-in-for-immersive-microsoft-teams-sessions/"><u>2024 Approved  Zooming In for Immersive Microsoft Teams Sessions</u></a></li>
<li><a href="https://location-social.techidaily.com/4-feasible-ways-to-fake-location-on-facebook-for-your-vivo-x100-drfone-by-drfone-virtual-android/"><u>4 Feasible Ways to Fake Location on Facebook For your Vivo X100 | Dr.fone</u></a></li>
<li><a href="https://extra-tips.techidaily.com/acquiring-safe-gratis-vlc-media-player-on-macos-systems/"><u>Acquiring Safe, Gratis VLC Media Player on macOS Systems</u></a></li>
<li><a href="https://youtube-docs.techidaily.com/27728578-best-free-youtube-ending-creators-top-6-picks/"><u>Best Free YouTube Ending Creators - Top 6 Picks!</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/enhancing-audience-connection-through-android-and-ios-streams/"><u>Enhancing Audience Connection Through Android & iOS Streams</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/exploring-options-when-facebook-takes-down-my-content-for-2024/"><u>Exploring Options When Facebook Takes Down My Content for 2024</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/in-2024-achieve-mastery-in-tracking-fbs-recently-seen-videos/"><u>In 2024, Achieve Mastery in Tracking Fb’s Recently Seen Videos</u></a></li>
<li><a href="https://fox-access.techidaily.com/in-2024-aural-artistry-the-magic-of-sound-fading/"><u>In 2024, Aural Artistry  The Magic of Sound Fading</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/in-2024-saving-your-social-moments-facebook-video-guide/"><u>In 2024, Saving Your Social Moments  Facebook Video Guide</u></a></li>
<li><a href="https://extra-guidance.techidaily.com/in-2024-seeing-the-shades-uncovering-disguised-viewer-interactions/"><u>In 2024, Seeing the Shades  Uncovering Disguised Viewer Interactions</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/in-2024-skybound-streaming-engaging-your-audience-on-facebook/"><u>In 2024, Skybound Streaming  Engaging Your Audience on Facebook</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/maximizing-moolah-how-to-monetize-videos-on-the-social-network-giant-for-2024/"><u>Maximizing Moolah  How to Monetize Videos on the Social Network Giant for 2024</u></a></li>
<li><a href="https://extra-skills.techidaily.com/meme-ology-manual-easy-ways-to-whip-up-giggles-for-2024/"><u>Meme-Ology Manual  Easy Ways to Whip Up Giggles for 2024</u></a></li>
<li><a href="https://driver-download.techidaily.com/1722953928200-samsung-m2070-drivers-update-effortless-setup-in-minutes/"><u>Samsung M2070 Drivers Update: Effortless Setup in Minutes</u></a></li>
<li><a href="https://fix-guide.techidaily.com/stuck-at-android-system-recovery-of-honor-x50-gt-fix-it-easily-drfone-by-drfone-fix-android-problems-fix-android-problems/"><u>Stuck at Android System Recovery Of Honor X50 GT ? Fix It Easily | Dr.fone</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/the-art-of-curating-memories-on-social-media-for-2024/"><u>The Art of Curating Memories on Social Media for 2024</u></a></li>
<li><a href="https://techidaily.com/the-easiest-methods-to-hard-reset-vivo-y36i-drfone-by-drfone-reset-android-reset-android/"><u>The Easiest Methods to Hard Reset Vivo Y36i | Dr.fone</u></a></li>
<li><a href="https://facebook-clips.techidaily.com/transform-your-online-reputation-and-increase-your-social-media-following/"><u>Transform Your Online Reputation and Increase Your Social Media Following</u></a></li>
</ul></div>

<ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-7571918770474297"
      data-ad-slot="8358498916"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>